body {
  background-color: #e5e5e4;
}
.heading {
  text-align: center;
  width: 40%;
  max-width: 400px;
  margin: 30px auto;
}
.heading h1 {
  font-weight: 400;
  font-size: 50px;
}
.main {
  display: flex;
  width: 80%;
  max-width: 750px;
  margin: 100px auto;
}
.main .card-list {
  width: 45%;
  margin-right: 5%;
}
.main .card-list .card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.main .card-list .image {
  width: 40%;
}
.main .card-list .title {
  width: 57%;
  padding: 10px;
  align-items: center;
}
.main .card-list .arrow {
  width: 26%;
}
.main .details {
  width: 50%;
  background-color: #fff;
  padding: 30px;
  min-height: 400px;
}
.main .details .product-hide {
  display: none;
}
body .main .details .product-detail {
  height: 100%;
  position: relative;
}
.main .details .product-price {
  font-size: 30px;
  margin-bottom: 20px;
}
.main .details .product-description {
  margin-bottom: 20px;
}
.main .details .product-detail__rating {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.main .details .product-detail__rating img {
  width: 15px;
  margin-right: 1px;
}
.main .details .product-detail__rating__count {
  margin-left: 5px;
  font-size: 12px;
}
.main .details .product-addCard {
  display: block;
  padding: 12px 20px;
  width: 120px;
  margin: 0 auto;
  margin-top: 750px;
  color: #fff;
  background-color: #345059;
  border-radius: 5px;
  border: 0;
}
@media only screen and (max-width: 500px) {
  .heading {
    width: 90%;
  }
  .main {
    display: block;
    margin: 50px auto;
  }
  .main .card-list {
    width: 100%;
    margin-bottom: 380px;
  }
  .main .details {
    position: fixed;
    bottom: 0%;
    left: 0;
    padding: 5%;
    width: 90%;
    min-height: 100px;
  }
  .main .details .product-detail__price {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .main .product-details .product-detail__description {
    margin-bottom: 15px;
  }
  .main .product-details .product-detail__add-card {
    margin-top: 15px;
  }
}
